body {
  font-family: 'Muli', sans-serif;
  color: #1C2A3F; }
  body header {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 150px;
    background-color: #ffffff;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    body header .logo {
      margin-top: 15px;
      height: 120px; }
    body header .title {
      text-align: right; }
    body header h1 {
      font-size: 1.6em;
      position: absolute;
      right: 0; }
  body nav {
    color: #85A4B9;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 20px; }
    body nav a {
      color: #1C2A3F;
      text-decoration: none;
      width: 120px;
      display: inline-block;
      text-align: center;
      font-weight: 300; }
    body nav a:hover {
      font-weight: 400;
      text-decoration: underline; }
  body div.container {
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%; }
  body .error {
    background-color: #FEEAC9 !important;
    color: #1C2A3F;
    border: 2px solid #FA9944 !important; }
  body .alert.alert {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    text-align: center;
    height: 60px; }
  body .alert > div {
    flex: none;
    position: absolute;
    margin-left: 50%;
    left: -200px;
    width: 400px; }
  body .alert a {
    margin-left: 50%;
    left: 500px;
    position: absolute; }

.mainBody .contentBody {
  background-color: #D0E1F0;
  border-top: 1px solid #85A4B9;
  border-bottom: 1px solid #85A4B9; }

.myAppPage.mainBody .mainBodyWrapper {
  grid-template-columns: 60px 100%;
  padding: 0; }
.myAppPage.mainBody .mainTable {
  border: 1px solid #D0E1F0; }
  .myAppPage.mainBody .mainTable th {
    background-color: #1C2A3F;
    color: #D0E1F0; }
    .myAppPage.mainBody .mainTable th i {
      color: #D0E1F0; }
  .myAppPage.mainBody .mainTable .datatable td {
    text-align: left; }
  .myAppPage.mainBody .mainTable .datatable th {
    text-align: left !important; }
  .myAppPage.mainBody .mainTable .datatable .expandedRowPadding {
    width: 50px; }
  .myAppPage.mainBody .mainTable .datatable thead th.column.sortable i {
    color: #D0E1F0; }
  .myAppPage.mainBody .mainTable .datatable thead th.column.sortable[aria-sort="none"]:hover i {
    color: #F2F4F6;
    opacity: 1; }
  .myAppPage.mainBody .mainTable .datatable thead th.column.sortable.active i {
    opacity: 1; }
.myAppPage.mainBody .mainNavigation {
  position: relative;
  bottom: 0;
  z-index: 10;
  margin-top: 60px; }
  .myAppPage.mainBody .mainNavigation button {
    display: block;
    background-color: #1C2A3F;
    background-size: 190%;
    width: 60px;
    height: 64px;
    transition: none;
    border-radius: 0;
    margin: 0;
    border: 1px solid #D0E1F0;
    position: relative;
    z-index: 10;
    background-position: -55px 2px;
    background-repeat: no-repeat; }
  .myAppPage.mainBody .mainNavigation button + span {
    z-index: 9;
    background-color: #88C651;
    width: 60px;
    font-size: 1.2em;
    display: block;
    overflow: hidden;
    color: #1C2A3F;
    text-align: right;
    float: left;
    height: 60px;
    padding: 0 10px 0 0;
    line-height: 60px;
    margin-top: -60px;
    transition: width .4s;
    transition-timing-function: linear; }
  .myAppPage.mainBody .mainNavigation button:hover {
    background-color: #88C651;
    border: none;
    z-index: 11;
    background-position: 2px 2px; }
  .myAppPage.mainBody .mainNavigation button:hover + span {
    z-index: 10;
    display: block;
    width: 230px;
    box-shadow: 2px 2px 5px #444444; }
  .myAppPage.mainBody .mainNavigation button.workouts {
    background-image: url("../assets/dumbbellIcon.png"); }
  .myAppPage.mainBody .mainNavigation button.heartRates {
    background-image: url("../assets/heartIcon.png"); }
  .myAppPage.mainBody .mainNavigation button.athleteData {
    background-image: url("../assets/rulerIcon.png"); }
  .myAppPage.mainBody .mainNavigation button.performance {
    background-image: url("../assets/clockIcon.png"); }
  .myAppPage.mainBody .mainNavigation button.activeButton {
    background-color: #88C651;
    background-position: 2px 2px; }

.mainBody {
  width: 100%; }
  .mainBody .mainBodyWrapper {
    width: 960px;
    text-align: center;
    display: grid;
    padding: 40px;
    margin-left: auto;
    margin-right: auto; }
    .mainBody .mainBodyWrapper form {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      background-color: #F2F4F6;
      border: 1px solid #85A4B9;
      clear: both;
      padding: 50px 0; }
      .mainBody .mainBodyWrapper form label {
        width: 25%;
        display: inline-block;
        font-size: 1.3em;
        float: left;
        margin-left: 5px;
        margin-top: 10px; }
      .mainBody .mainBodyWrapper form label.radio-label {
        width: auto;
        margin-right: 50px;
        font-size: 1.1em;
        vertical-align: middle;
        text-align: left;
        float: none; }
      .mainBody .mainBodyWrapper form input, .mainBody .mainBodyWrapper form select {
        border: 2px solid #1C2A3F;
        background-color: #E6E7E8;
        height: 40px;
        padding: 5px; }
      .mainBody .mainBodyWrapper form input {
        text-align: left;
        margin: 5px 5% 15px 5px;
        width: 65%; }
      .mainBody .mainBodyWrapper form input:focus {
        background-color: #F2F4F6;
        border-color: #85A4B9; }
      .mainBody .mainBodyWrapper form input[type="radio"] {
        margin: 5px 15px 0 5px;
        width: auto;
        vertical-align: middle; }
      .mainBody .mainBodyWrapper form ul.error {
        text-align: left;
        margin-left: 30%;
        width: 65%;
        margin-top: -10px;
        margin-bottom: 15px; }
      .mainBody .mainBodyWrapper form ul.error::input-placeholder {
        color: #1C2A3F; }

/*
    Modals
*/
#organizationDialog {
  width: 100%; }
  #organizationDialog #organizationCard {
    text-align: center;
    width: 960px;
    display: grid;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 600px 1fr; }
    #organizationDialog #organizationCard .formWrapper {
      text-align: left; }
      #organizationDialog #organizationCard .formWrapper form {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-color: #F2F4F6;
        border: 1px solid #85A4B9;
        clear: both;
        padding: 50px 0; }

.toolbar__content .closeButton {
  border: none;
  position: absolute;
  right: 0;
  top: 5px; }

/*
    Dashboard
*/
.dashboardActions {
  height: 60px;
  width: 100%;
  text-align: right;
  position: relative; }
  .dashboardActions button {
    margin-top: 20px;
    height: 40px;
    width: 150px;
    font-size: 1.2em; }
  .dashboardActions h1 {
    position: absolute;
    left: -60px;
    top: 10px;
    margin: 0;
    color: #7bbf3f;
    font-size: 2.5em; }

.deleteButton {
  background-color: #cf4242;
  color: #F2F4F6; }

.deleteButton:hover {
  background-color: #d45656; }

.addButton {
  background-color: #88C651;
  color: #1C2A3F; }

.addButton:hover {
  background-color: #95cc64; }

.datatable__expand-content {
  position: relative; }
  .datatable__expand-content .workoutTable tr {
    background-color: #e3edf6; }
  .datatable__expand-content .workoutTable tr:hover {
    background-color: #D0E1F0 !important; }

#dashboardDataTable .datatable__expand-content .workoutSetTable .datatable tr {
  border-bottom: 1px solid #a9c8e4; }
#dashboardDataTable .datatable__expand-content .workoutSetTable .datatable th {
  height: 30px;
  border-bottom: 1px solid #85A4B9;
  border-right: 1px solid #85A4B9;
  font-size: 1em;
  color: #1C2A3F;
  background-color: #a9c8e4; }
#dashboardDataTable .datatable__expand-content .workoutSetTable .datatable th, #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td {
  padding: 0 10px; }
#dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td {
  border-right: 1px solid #a9c8e4; }
  #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group--disabled.workoutSetType, #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group--disabled.input-group.workoutSetDescription {
    height: 20px; }
    #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group--disabled.workoutSetType .input-group__input input, #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group--disabled.input-group.workoutSetDescription .input-group__input input {
      height: 20px; }
  #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .workoutSetType {
    height: 60px; }
    #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .workoutSetType .input-group__input {
      font-weight: bold;
      width: 150px; }
  #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group.workoutSetDescription {
    display: flex;
    width: 150px;
    padding-top: 0;
    height: 50px; }
    #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group.workoutSetDescription label {
      top: 5px; }
    #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group.workoutSetDescription .input-group__input {
      width: 100%; }
      #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group.workoutSetDescription .input-group__input input {
        text-align: left; }
  #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group {
    display: inline-flex;
    width: auto; }
  #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .timeField .input-group__input {
    width: 25px; }
  #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group__input {
    width: 50px;
    flex: none; }
    #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .input-group__input input {
      text-align: center; }
  #dashboardDataTable .datatable__expand-content .workoutSetTable .datatable td .seconds .input-group__input {
    width: 30px; }
#dashboardDataTable .datatable__expand-content .workoutSetTable tr {
  background-color: #bdd5ea; }
#dashboardDataTable .datatable__expand-content .workoutSetTable tr:hover {
  background-color: #a9c8e4 !important; }

.btn--flat.addToWorkoutButton {
  background-color: #F2F4F6 !important; }

.btn--flat.addToWorkoutButton:hover {
  background-color: #D0E1F0 !important; }

#dashboardDataTable td.workoutTableIcons {
  text-align: right;
  padding: 0 20px; }
  #dashboardDataTable td.workoutTableIcons .icon {
    color: #1C2A3F; }
#dashboardDataTable th {
  color: #D0E1F0;
  font-size: 1.2em; }
#dashboardDataTable th:hover {
  color: #F2F4F6; }
#dashboardDataTable tr.datatable__expand-row {
  height: auto;
  background-color: #ffffff !important; }
#dashboardDataTable tr.datatable__expand-row:hover {
  background-color: #ffffff !important; }
#dashboardDataTable tbody td {
  height: 40px; }
#dashboardDataTable thead tr {
  height: 40px; }
#dashboardDataTable .datatable__expand-content h2 {
  width: 98%;
  float: right;
  border: 1px solid #1C2A3F;
  border-right: none;
  border-left: none;
  color: #F2F4F6;
  background-color: #1C2A3F;
  text-align: center; }
#dashboardDataTable .workoutSession table tr {
  cursor: crosshair; }
#dashboardDataTable .workoutSession table tr:nth-child(2n) {
  cursor: default; }
#dashboardDataTable table.datatable {
  width: 100%;
  float: right; }
  #dashboardDataTable table.datatable tr td .input-group--disabled {
    padding: 0; }
    #dashboardDataTable table.datatable tr td .input-group--disabled .input-group__details, #dashboardDataTable table.datatable tr td .input-group--disabled label {
      display: none; }
    #dashboardDataTable table.datatable tr td .input-group--disabled .input-group__details {
      min-height: 3px; }
    #dashboardDataTable table.datatable tr td .input-group--disabled .icon--disabled {
      display: none; }
    #dashboardDataTable table.datatable tr td .input-group--disabled .input-group__selections__comma {
      font-size: 1em;
      color: black; }
  #dashboardDataTable table.datatable tr td .input-group__input input {
    font-size: 13px;
    color: black;
    height: 40px; }

.mainTable.workoutTable tbody td.rowCheckbox {
  width: 15%;
  position: relative; }
.mainTable.workoutTable tbody td.rowCheckbox > i {
  position: absolute;
  left: 10%;
  top: 6px; }
.mainTable.workoutTable tbody tr {
  cursor: pointer !important;
  color: #1C2A3F; }

.expandedRow {
  transform: rotate(90deg); }

.newSetCard span.workoutSetTypeGroup {
  font-size: 1em; }
.newSetCard span > div {
  width: 100px;
  display: inline-block;
  margin-right: 2%; }
.newSetCard .inlineTimes, .newSetCard .restTimes {
  width: 30%; }
.newSetCard .newSetType {
  width: 250px;
  display: block; }
.newSetCard .newSetDistanceUnits {
  display: inline-block;
  width: 200px; }
.newSetCard .weightWorkout {
  display: none; }
.newSetCard .card__actions {
  display: block; }
  .newSetCard .card__actions .btn {
    display: inline-block; }

.newSetCard h3, .newSetCard h4 {
  color: #85A4B9; }
.newSetCard h3 {
  border-bottom: 1px solid #85A4B9;
  margin-top: 15px; }
.newSetCard .hours, .newSetCard .minutes {
  margin-right: 0; }
.newSetCard .hours, .newSetCard .minutes, .newSetCard .seconds {
  width: 30%;
  display: inline-block; }
  .newSetCard .hours label, .newSetCard .minutes label, .newSetCard .seconds label {
    font-size: 0.9em;
    text-align: center; }
.newSetCard span {
  position: relative;
  bottom: 35px;
  font-size: 1.4em; }

.card {
  padding: 15px; }
  .card nav {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -15px !important; }

.card__actions, .card__title {
  width: 100%; }

.card__title, .application .theme--dark.toolbar, .theme--dark .toolbar {
  background-color: #85A4B9 !important;
  color: #F2F4F6 !important;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  padding: none;
  position: sticky;
  top: 0;
  z-index: 1; }

/*
    Buttons
*/
body button {
  border-radius: 6px;
  width: 190px;
  height: 60px;
  font-size: 1.5em;
  color: #1C2A3F;
  transition: 0.3s;
  border: 1px solid #1C2A3F; }
body button:hover {
  box-shadow: 3px 3px 10px #000000;
  font-weight: bold; }
body button.blueButton, body button.registrationTab {
  background-color: #85A4B9; }
body button.blueButton:hover, body button.registrationTab:hover {
  background-color: #95b0c2; }
body button.greenButton {
  background-color: #88C651; }
body button.greenButton:hover {
  background-color: #95cc64; }
body button[type="submit"] {
  margin-bottom: 30px;
  margin-right: 5%; }

.application .theme--light.btn.blueButton:not(.btn--icon):not(.btn--flat) {
  background-color: #85A4B9; }

.application .theme--light.btn.blueButton:not(.btn--icon):not(.btn--flat):hover {
  background-color: #95b0c2 ""; }

.card__actions .btn.btnCenter {
  margin-left: auto;
  margin-right: auto; }

/*
    Home Page
*/
.home {
  height: 100%; }
  .home .landingPageHeader {
    width: 960px;
    position: relative;
    float: right;
    right: 50%;
    margin-right: -480px; }
    .home .landingPageHeader nav {
      text-align: right;
      width: 960px;
      position: absolute;
      top: 120px;
      z-index: 100; }
      .home .landingPageHeader nav a {
        font-weight: 400; }
  .home .landingPage {
    text-align: center;
    height: 100%; }
    .home .landingPage .buttons {
      z-index: 10;
      position: absolute;
      width: 420px;
      margin-left: 50%;
      left: -210px; }
      .home .landingPage .buttons .landingRegisterButton, .home .landingPage .buttons .landingLoginButton {
        position: absolute;
        bottom: 30px;
        z-index: 10; }
      .home .landingPage .buttons .landingRegisterButton {
        left: 0; }
      .home .landingPage .buttons .landingLoginButton {
        right: 0; }
    .home .landingPage .parallax {
      height: 100%;
      width: 100%;
      /*top: 400px;*/ }
    .home .landingPage .parallax__image {
      width: 100%;
      bottom: 75%; }
    .home .landingPage .logo {
      position: absolute;
      left: 20px;
      top: 20px; }
  .home .contentBody {
    height: 2500px; }

/* 
    Registration / Login page
*/
.registrationPage .mainBodyWrapper {
  grid-template-columns: 1fr 600px 1fr; }
  .registrationPage .mainBodyWrapper .formWrapper {
    text-align: left; }
  .registrationPage .mainBodyWrapper .registrationTab {
    margin: 0;
    border: 1px solid #85A4B9;
    border-radius: 0;
    float: left;
    margin-bottom: -1px;
    font-weight: 400;
    box-shadow: inset 2px -2px 5px rgba(0, 0, 0, 0.3);
    width: 33.333333%; }
  .registrationPage .mainBodyWrapper .registrationTab:first-of-type {
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3); }
  .registrationPage .mainBodyWrapper .registrationTab:first-of-type:hover {
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.3); }
  .registrationPage .mainBodyWrapper .registrationTab:hover {
    box-shadow: inset 2px -2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700; }
  .registrationPage .mainBodyWrapper .registrationTab.active {
    background-color: #F2F4F6;
    border-bottom: none;
    box-shadow: none; }
  .registrationPage .mainBodyWrapper .registrationTab.active:hover {
    cursor: default;
    font-weight: 400; }
  .registrationPage .mainBodyWrapper form {
    text-align: right; }

/*# sourceMappingURL=main.css.map */
