$darkBlue: #1C2A3F;
$blue: #85A4B9;
$lightBlue: #D0E1F0;
$green: #88C651;
$offWhite: #F2F4F6;
$lightGrey: #E6E7E8;
$red: #cf4242;
$lightOrange: #FEEAC9;
$orange: #FA9944;

body{
  font-family: 'Muli', sans-serif;
  color: $darkBlue;
  header{
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 150px;
    background-color: #ffffff;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .logo{
      margin-top: 15px;
      height: 120px;
    }
    .title{
      text-align: right;
    }
    h1{
      font-size: 1.6em;
      position: absolute;
      right: 0;
    }
  }
  nav{
    color: $blue;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 20px;
    a{
      color: $darkBlue;
      text-decoration: none;
      width: 120px;
      display: inline-block;
      text-align: center;
      font-weight: 300;
    }
    a:hover{
      font-weight: 400;
      text-decoration: underline;
    }
  }
  div.container{
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .error{
    background-color: $lightOrange!important;
    color: $darkBlue;
    border: 2px solid $orange!important;
  }
  .alert.alert{
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    text-align: center;
    height: 60px;
  }
  .alert > div{
    flex: none;
    position: absolute;
    margin-left: 50%;
    left: -200px;
    width: 400px;
  }
  .alert a{
    margin-left: 50%;
    left: 500px;
    position: absolute;
  }
}

.mainBody .contentBody{
  background-color: $lightBlue;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
}

.myAppPage.mainBody{
  .mainBodyWrapper{
    grid-template-columns: 60px 100%;
    padding: 0;
  }
  .mainTable{
    border: 1px solid $lightBlue;
    th{
      background-color: $darkBlue;
      color: $lightBlue;
      i{
        color:$lightBlue;
      }
    }
    .datatable {
      td{
        text-align: left;
      }
      th{
        text-align: left !important;
      }
      .expandedRowPadding{
        width: 50px;
      }
    }
    
    .datatable thead th.column.sortable i{
      color: $lightBlue;
    }
    .datatable thead th.column.sortable[aria-sort="none"]:hover i{
      color: $offWhite;
      opacity: 1;
    }
    .datatable thead th.column.sortable.active i{
      opacity: 1;
    }
  }
  tbody {
//    tr:hover{
//      background-color: $lightGrey !important;
//    }
//    tr:nth-child(even){
//      background-color: $lightBlue;
//    }
  }
  .mainNavigation{
    position: relative;
    bottom: 0;
    z-index: 10;
    margin-top: 60px;
    button{
      display: block;
      background-color: $darkBlue;
      background-size: 190%;
      width: 60px;
      height: 64px;
      transition: none;
      border-radius: 0;
      margin:0;
      border: 1px solid $lightBlue;
      position: relative;
      z-index: 10;
      background-position: -55px 2px;
      background-repeat: no-repeat;
    }
    button + span{
      z-index: 9;
      background-color: $green;
      width: 60px;
      font-size: 1.2em;
      display: block;
      overflow: hidden;
      color: $darkBlue;
      text-align: right;
      float: left;
      height: 60px;
      padding: 0 10px 0 0;
      line-height: 60px;
      margin-top: -60px;
      transition: width .4s;
      transition-timing-function: linear;
    }
    button:hover{
      background-color: $green;
      border: none;
      z-index: 11;
      background-position: 2px 2px;
    }
    button:hover + span{
      z-index: 10;
      display: block;
      width: 230px;
      box-shadow: 2px 2px 5px #444444;
    }
    button.workouts{
      background-image: url("../assets/dumbbellIcon.png");
    }
    button.heartRates{
      background-image: url("../assets/heartIcon.png");
    }
    button.athleteData{
      background-image: url("../assets/rulerIcon.png");
    }
    button.performance{
      background-image: url("../assets/clockIcon.png");
    }
    button.activeButton{
      background-color: $green;
      background-position: 2px 2px;
    }
  }
}

.mainBody{
  width: 100%;
  .mainBodyWrapper{
    width: 960px;
    text-align: center;
    display: grid;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    form{
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      background-color: $offWhite;
      border: 1px solid $blue;
      clear: both;
      padding: 50px 0;
      label{
        width: 25%;
        display: inline-block;
        font-size: 1.3em;
        float: left;
        margin-left: 5px;
        margin-top: 10px;
      }
      label.radio-label{
        width: auto;
        margin-right: 50px;
        font-size: 1.1em;
        vertical-align: middle;
        text-align: left;
        float: none;
      }
      input, select{
        border: 2px solid $darkBlue;
        background-color: $lightGrey;
        height: 40px;
        padding: 5px;
      }
      input{
        text-align: left;
        margin: 5px 5% 15px 5px;
        width: 65%;
      }
      input:focus{
        background-color: $offWhite;
        border-color: $blue;
      }
      input[type="radio"]{
        margin: 5px 15px 0 5px;
        width: auto;
        vertical-align: middle;
      }
      ul.error{
        text-align: left;
        margin-left: 30%;
        width: 65%;
        margin-top: -10px;
        margin-bottom: 15px;
      }
      ul.error::input-placeholder {
         color: $darkBlue;
      }
    }
  }
}

/*
    Modals
*/

//copied parts of the .mainBodyWrapper
#organizationDialog{
	width: 100%;
	#organizationCard{
		text-align: center;
		width: 960px;
		display: grid;
		padding: 40px;
		margin-left: auto;
		margin-right: auto;
		grid-template-columns: 1fr 600px 1fr;
    .formWrapper{
			text-align: left;
			form{
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				background-color: $offWhite;
				border: 1px solid $blue;
				clear: both;
				padding: 50px 0;
			}
      
    }  
}
}

.toolbar__content{
  .closeButton{
    border: none;
    position: absolute;
    right: 0;
    top: 5px;
  }
}


/*
    Dashboard
*/
.dashboardActions{
  height: 60px;
  width: 100%;
  text-align: right;
  position: relative;
  button{
//    border-radius: 6px;
    margin-top: 20px;
    height: 40px;
    width: 150px;
    font-size: 1.2em;
  }
  h1{
    position: absolute;
    left: -60px;
    top: 10px;
    margin: 0;
    color: darken($green, 5%);
    font-size: 2.5em;
  }
}
.deleteButton{  
  background-color: $red;
  color: $offWhite;
}
.deleteButton:hover{
  background-color: lighten($red, 5%);
}
.addButton{
  background-color: $green;
  color: $darkBlue;
}
.addButton:hover{
  background-color: lighten($green, 5%);
}

.datatable__expand-content{
  position: relative;
  .workoutTable{
    tr{
      background-color: lighten($lightBlue, 5%);
    }
    tr:hover{
      background-color: $lightBlue !important;
    }
  }
}
#dashboardDataTable{
  .datatable__expand-content{
    .workoutSetTable{
      .datatable{
        tr{
          border-bottom: 1px solid darken($lightBlue, 10%);
        }
        th{
          height: 30px;
          border-bottom: 1px solid $blue;
          border-right: 1px solid $blue;
          font-size: 1em;
          color: $darkBlue;
          background-color: darken($lightBlue, 10%);
        }
        th, td{
          padding: 0 10px;
        }
        td{
          border-right: 1px solid darken($lightBlue, 10%);
          .input-group--disabled.workoutSetType, .input-group--disabled.input-group.workoutSetDescription{
            height: 20px;
            .input-group__input{
              input{
                height: 20px;
              }
            }
          }
          .workoutSetType{
            height: 60px;
            .input-group__input{
              font-weight: bold;
              width: 150px;
            }
          }
          .input-group.workoutSetDescription{
            display: flex;
            width: 150px;
            padding-top: 0;
            height: 50px;
            label{
              top: 5px;
            }
            .input-group__input{
              width: 100%;
              input{
                text-align: left;
              }
            }
          }
          .input-group{
            display: inline-flex;
            width: auto;
          }
          .timeField .input-group__input{
            width: 25px;
          }
          .input-group__input{
            width: 50px;
            flex: none;
            input{
              text-align: center;
            }
          }
          .seconds .input-group__input{
            width: 30px; 
          }
        }
      }
      tr.workoutSetRow{
        td:first-of-type{
//          padding-left: 100px;
        }
      }
      tr{
        background-color: darken($lightBlue, 5%);
      }
      tr:hover{
        background-color: darken($lightBlue, 10%) !important;
      }
    }
  }
}

.btn--flat.addToWorkoutButton{
//  position: absolute !important;
//  margin-top: 1px !important;
//  right: 0;
//  top:0;
  background-color: $offWhite !important;
}
.btn--flat.addToWorkoutButton:hover{
  background-color: $lightBlue !important;
}
#dashboardDataTable{
//    .application .theme--light.icon, .theme--light
  td.workoutTableIcons {
    text-align: right;
    padding: 0 20px;
    .icon{
      color: $darkBlue;
    }
  }
  th{
    color: $lightBlue;
    font-size: 1.2em;
  }
  th:hover{
    color: $offWhite;
  }
  tr.datatable__expand-row{
    height: auto;
    background-color: #ffffff !important;
  }
  tr.datatable__expand-row:hover{
    background-color: #ffffff !important;
  }
  tbody{
    td{
      height: 40px;
    }
  }
  thead{
    tr{
      height: 40px;
    }
  }
  .datatable__expand-content h2{
    width: 98%;
    float: right;
    border: 1px solid $darkBlue;
    border-right: none;
    border-left: none;
    color: $offWhite;
    background-color: $darkBlue;
    text-align: center;
//    padding-left: 15%;
  }
  .workoutSession table tr{
    cursor: crosshair;
  }
  .workoutSession table tr:nth-child(2n){
    cursor: default;
  }
  table.datatable{
    width: 100%;
    float: right;
    tr{
      td{
        .input-group--disabled{
          padding: 0;
          .input-group__details, label{
            display: none;
          }
          .input-group__details{
            min-height: 3px;
          }
          .icon--disabled{
            display: none;
          }
          .input-group__selections__comma{
            font-size: 1em;
            color: black;
          }
        }
        .input-group__input{
          input{
            font-size: 13px;
            color: black;
            height: 40px;
          }
        }
      }
    }
  }
  
}
.mainTable.workoutTable{
  tbody{
//    tr:nth-child(4n-1){
//      background-color: $lightBlue;
//    }
    td.rowCheckbox{
      width: 15%;
      position: relative;
    }
    td.rowCheckbox > i{
      position: absolute;
      left: 10%;
      top: 6px;
    }
    tr{
      cursor: pointer !important;
      color: $darkBlue;
//      color: $offWhite;
    }
//    tr{
//      cursor: pointer !important;
//      background-color: #ffffff;
//    }
//    tr:nth-child(even){
//      cursor: default !important; 
//    }
  }
}
.expandedRow{
  transform: rotate(90deg);
}

.newSetCard{
  span.workoutSetTypeGroup{
    font-size: 1em;
  }
  span > div{
    width: 100px;
    display: inline-block;
    margin-right: 2%;
  }
  .inlineTimes, .restTimes{
    width: 30%;
  }
  .newSetType{
    width: 250px;
    display: block;
  }
  .newSetDistanceUnits{
    display: inline-block;
    width: 200px;
  }
  .weightWorkout{
    display: none;
  }
  .card__actions{
    display: block;
    .btn{
      display: inline-block;
    }
  }
}

.newSetCard{
  h3, h4{
    color: $blue;
  }
  h3{
    border-bottom: 1px solid $blue;
    margin-top: 15px;
  }
  .hours, .minutes{
    margin-right: 0;
  }
  .hours, .minutes, .seconds{
    width: 30%;
    display: inline-block;
    label{
      font-size: 0.9em;
      text-align: center;
    }
  }
  span{
    position: relative;
    bottom: 35px;
    font-size: 1.4em;
  }
}
.card{
  padding: 15px;
  nav{
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -15px !important;
  }
}
.card__actions, .card__title{
    width: 100%;
  }
  .card__title, .application .theme--dark.toolbar, .theme--dark .toolbar{
    background-color: $blue !important;
    color: $offWhite !important;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: none;
    position: sticky;
    top: 0;
    z-index: 1;
  }


/*
    Buttons
*/
body{
  button{
    border-radius: 6px;
    width: 190px;
    height: 60px;
    font-size: 1.5em;
    color: $darkBlue;
    transition: 0.3s;
    border: 1px solid $darkBlue;
  }
  button:hover{
    box-shadow: 3px 3px 10px #000000;
    font-weight: bold;
  }
  button.blueButton, button.registrationTab{
    background-color: $blue;
  }
  button.blueButton:hover, button.registrationTab:hover{
    background-color: lighten($blue, 5%);
  }
  button.greenButton{
    background-color: $green;
  }
  button.greenButton:hover{
    background-color: lighten($green, 5%);
  }
  button[type="submit"]{
    margin-bottom: 30px;
    margin-right: 5%;
  }
}
.application .theme--light.btn.blueButton:not(.btn--icon):not(.btn--flat){
  background-color: $blue;
}
.application .theme--light.btn.blueButton:not(.btn--icon):not(.btn--flat):hover{
  background-color: lighten($blue, 5%)''
}
.card__actions{
  .btn.btnCenter{
    margin-left: auto;
    margin-right: auto;
  }
}

/*
    Home Page
*/

.home {
  height: 100%;
  .landingPageHeader{
    width: 960px;
    position: relative;
    float: right;
    right: 50%;
    margin-right: -480px;
    nav{
      text-align: right;
      width: 960px;
      position: absolute;
      top: 120px;
      z-index: 100;
      a{
        font-weight: 400;
      }
    }
  }
  .landingPage{
    text-align: center;
    height: 100%;
    .buttons{
      z-index: 10;
      position: absolute;
      width: 420px;
      margin-left: 50%;
      left: -210px;
      //top: 95%;
      .landingRegisterButton, .landingLoginButton{
        position: absolute;
        bottom: 30px;
        z-index: 10;
      }
      .landingRegisterButton{
        left: 0;
      }
      .landingLoginButton{
        right: 0;
      }
    }
      .parallax{
      height: 100%;
      width: 100%;
      /*top: 400px;*/
    }
    .parallax__image{
      width: 100%;
      bottom: 75%;
    }
    .logo{
      position: absolute;
      left: 20px;
      top: 20px;
    }
  }
  .contentBody{
    height: 2500px;
  }
}


/* 
    Registration / Login page
*/

.registrationPage{
  .mainBodyWrapper{
    grid-template-columns: 1fr 600px 1fr;
    .formWrapper{
      text-align: left;
    }
    .registrationTab{
      margin: 0;
      border: 1px solid $blue;
      border-radius: 0;
      float: left;
      margin-bottom: -1px;
      font-weight: 400;
      box-shadow: inset 2px -2px 5px rgba(0,0,0,0.3);
			width: 33.333333%;
    }
    .registrationTab:first-of-type{
      box-shadow: inset -2px -2px 5px rgba(0,0,0,0.3);
    }
    .registrationTab:first-of-type:hover{
      box-shadow: inset -2px -2px 2px rgba(0,0,0,0.3);
    }
    .registrationTab:hover{
      box-shadow: inset 2px -2px 2px rgba(0,0,0,0.3);
      font-weight: 700;
    }
    .registrationTab.active{
      background-color: $offWhite;
      border-bottom: none;
      box-shadow: none;
    }
    .registrationTab.active:hover{
      cursor: default;
      font-weight: 400;
    }
    form{
      text-align: right;
    }
  }
}