body {
  font-family: 'Muli', sans-serif;
  color: #1C2A3F; }
  body header {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 150px;
    background-color: #ffffff;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    body header .logo {
      margin-top: 15px;
      height: 120px; }
    body header .title {
      text-align: right; }
  body nav {
    color: #85A4B9;
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 20px; }
    body nav a {
      color: #1C2A3F;
      text-decoration: none;
      width: 120px;
      display: inline-block;
      text-align: center;
      font-weight: 300; }
    body nav a:hover {
      font-weight: 400;
      text-decoration: underline; }
  body div.container {
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 100%; }
  body .error {
    background-color: #FEEAC9 !important;
    color: #1C2A3F;
    border: 2px solid #FA9944 !important; }
  body .alert .alert__icon.icon, body .alert__dismissible .icon {
    color: #FA9944; }

.mainBody .contentBody {
  background-color: #E6E7E8;
  border-top: 1px solid #85A4B9;
  border-bottom: 1px solid #85A4B9; }

.mainBody .mainBodyWrapper {
  width: 100%;
  text-align: center;
  display: grid;
  padding: 40px; }
  .mainBody .mainBodyWrapper form {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #F2F4F6;
    border: 1px solid #85A4B9;
    clear: both;
    padding: 50px 0; }
    .mainBody .mainBodyWrapper form label {
      width: 25%;
      display: inline-block;
      font-size: 1.3em;
      float: left;
      margin-left: 5px;
      margin-top: 10px; }
    .mainBody .mainBodyWrapper form label.radio-label {
      width: auto;
      margin-right: 50px;
      font-size: 1.1em;
      vertical-align: middle;
      text-align: left;
      float: none; }
    .mainBody .mainBodyWrapper form input, .mainBody .mainBodyWrapper form select {
      border: 2px solid #1C2A3F;
      background-color: #E6E7E7;
      height: 40px;
      padding: 5px; }
    .mainBody .mainBodyWrapper form input {
      text-align: left;
      margin: 5px 5% 15px 5px;
      width: 65%; }
    .mainBody .mainBodyWrapper form input:focus {
      background-color: #F2F4F6;
      border-color: #85A4B9; }
    .mainBody .mainBodyWrapper form input[type="radio"] {
      margin: 5px 15px 0 5px;
      width: auto;
      vertical-align: middle; }
    .mainBody .mainBodyWrapper form ul.error {
      text-align: left;
      margin-left: 30%;
      width: 65%;
      margin-top: -10px;
      margin-bottom: 15px; }
    .mainBody .mainBodyWrapper form ul.error::input-placeholder {
      color: #1C2A3F; }

/*
    Buttons
*/
body button {
  border-radius: 6px;
  width: 190px;
  height: 60px;
  font-size: 1.5em;
  color: #1C2A3F;
  transition: 0.3s; }
body button:hover {
  box-shadow: 3px 3px 10px #000000;
  font-weight: bold; }
body button.blueButton, body button.registrationTab {
  background-color: #85A4B9; }
body button.blueButton:hover, body button.registrationTab:hover {
  background-color: #95b0c2; }
body button.greenButton {
  background-color: #88C651; }
body button.greenButton:hover {
  background-color: #95cc64; }
body button[type="submit"] {
  margin-bottom: 30px;
  margin-right: 5%; }

/*
    Home Page
*/
.home {
  height: 100%; }
  .home .landingPageHeader {
    width: 960px;
    position: relative;
    float: right;
    right: 50%;
    margin-right: -480px; }
    .home .landingPageHeader nav {
      text-align: right;
      width: 960px;
      position: absolute;
      top: 120px;
      z-index: 100; }
      .home .landingPageHeader nav a {
        font-weight: 400; }
  .home .landingPage {
    text-align: center;
    height: 100%; }
    .home .landingPage .buttons {
      z-index: 10;
      position: absolute;
      width: 420px;
      margin-left: 50%;
      left: -210px;
      top: 95%; }
      .home .landingPage .buttons .landingRegisterButton, .home .landingPage .buttons .landingLoginButton {
        position: absolute;
        bottom: 30px;
        z-index: 10; }
      .home .landingPage .buttons .landingRegisterButton {
        left: 0; }
      .home .landingPage .buttons .landingLoginButton {
        right: 0; }
    .home .landingPage .parallax {
      height: 100%;
      width: 100%;
      /*top: 400px;*/ }
    .home .landingPage .parallax__image {
      width: 100%;
      bottom: 50%; }
    .home .landingPage .logo {
      position: absolute;
      left: 20px;
      top: 20px; }
  .home .contentBody {
    height: 2500px; }

/* 
    Registration / Login page
*/
.registrationPage .mainBodyWrapper {
  grid-template-columns: 1fr 600px 1fr; }
  .registrationPage .mainBodyWrapper .formWrapper {
    text-align: left; }
  .registrationPage .mainBodyWrapper .registrationTab {
    margin: 0;
    border: 1px solid #85A4B9;
    border-radius: 0;
    float: left;
    margin-bottom: -1px;
    font-weight: 400;
    box-shadow: inset 2px -2px 5px rgba(0, 0, 0, 0.3); }
  .registrationPage .mainBodyWrapper .registrationTab:first-of-type {
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.3); }
  .registrationPage .mainBodyWrapper .registrationTab:first-of-type:hover {
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.3); }
  .registrationPage .mainBodyWrapper .registrationTab:hover {
    box-shadow: inset 2px -2px 2px rgba(0, 0, 0, 0.3);
    font-weight: 700; }
  .registrationPage .mainBodyWrapper .registrationTab.active {
    background-color: #F2F4F6;
    border-bottom: none;
    box-shadow: none; }
  .registrationPage .mainBodyWrapper .registrationTab.active:hover {
    cursor: default;
    font-weight: 400; }
  .registrationPage .mainBodyWrapper form {
    text-align: right; }

/*# sourceMappingURL=main.css.map */
